<!DOCTYPE html>
<html>

<head>
  <title>ng4 - Complete guide project.</title>
</head>

<body>
  <app-header (featureSelected)="onNavigate($event)"></app-header>
  <div class="container-fluid">
    <!--
    <div class="row">
      <div class="col-sm-6 col-sm-push-3">
        <div class="jumbotron">
          <h2>Welcome! <span class="lead"><u>Angular Complete - Guide Journey</u></span></h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit, sit earum distinctio labore modi
            exercitationem, ab fugit est nobis itaque sed nulla minima deserunt quis iusto, cum culpa explicabo
            tenetur.</p>
          <a href="../app/app.component.html">take a survey</a>
        </div>
      </div>
      
    </div>
  -->

    <div class="row">
      <div class="col-xs-12">
        <app-recipes *ngIf="loadedFeature ==='recipe'"></app-recipes>
        <app-shopping-list *ngIf="loadedFeature ==='shopping-list'"></app-shopping-list>
      </div>
    </div>
  </div>
</body>

</html>